@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("./Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Cursive";
  font-style: normal;
  font-weight: 400;
  src: url("./PlaywriteES-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Logo";
  font-style: normal;
  font-weight: 700;
  src: url("./PTSerif-BoldItalic.ttf") format("truetype");
}
