@import "./fonts/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}
.active .nav_item {
  color: green;
  font-weight: bold;
  transition-duration: 0.5s;
  font-size: medium;
}
